{% extends "base.html" %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block content %}
    <h1>{{ recipe.name }}</h1>
    <h3>Author: {{ recipe.author.username }}</h3>
    <h2>Ingredients:</h2>
    <ul>
        {% for ingredient in ingredients %}
            <li>{{ ingredient.quantity }} of {{ ingredient.name }}</li>
        {% endfor %}
    </ul>

    <h2>Images:</h2>
    {% for image in recipe.images.all %}
        <img src="{{ image.image.url }}" alt="{{ image.description }}" width = "250">
    {% empty %}
        <p>No image uploaded</p>
    {% endfor %}

    <a href="{% url 'recipe_add_image' recipe.id %}">Upload Image</a>

    <small>Last updated: {{ recipe.updated_on }}</small>
{% endblock %}