{% extends "base.html" %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block content %}
    <h1>{{ recipe.name }}</h1>
    <h3>Author: {{ recipe.author.username }}</h3>
    <h2>Ingredients:</h2>
    <ul>
        {% for ingredient in ingredients %}
            <li>{{ ingredient.quantity }} of {{ ingredient.name }}</li>
        {% endfor %}
    </ul>

    <h2>Images:</h2>
    {% for image in recipe.images.all %}
        <img src="{{ image.image.url }}" alt="{{ image.description }}" width = "250">
    {% empty %}
        <p>No image uploaded</p>
    {% endfor %}

    <small>Last updated: {{ recipe.updated_on }}</small>

    <form method="post">
        {% csrf_token %}
        <h2>Add an image</h2>
        {{ add_image.as_p }}

        <h2>Add an Ingredient</h2>
        {{ add_ingredient.as_p }}

        <button type="submit">Submit</button>

    </form>
{% endblock %}